#errorFor-empty{
    display: none;
    text-align: center;
    margin-top: 10px;
    color:tomato;
    
    
}
#errorFor-string{
    display: none;
    text-align: center;
    margin-top: 10px;
    color:darkslategrey;
}
#spanner{
    display: none;
}
