#error{
    display: none;
    text-align: center;
    margin-top: 10px;
    color: tomato;
    
    
}
#error2{
    display: none;
    text-align: center;
    margin-top: 10px;
    color:darkslategrey;
}